<h1>E-Commerce Bidder</h1>
<p>
  The purpose of this project is to build a e-commerce portal which give a 
  platform to bid artifact which are unique/limited-edtion product. Where users 
  (BUYERS) to bid/view list of unique items to buy and the users (SELLERS)
  to sell product. </p>
<p>
  EER diagram of bid ecommerce site is explained with all the entity-type and
  the relations between them. Also DB schema depicts the high-level picture
  of Database structure design with Primary and Foreign Key.</p>
<p>
  Funtional dependencies overview is given which shows the attributes
  dependent on the other attributes.
</p>
<%= image_tag('home_img.jpg') %>